  h2 {
    padding: 15px;
    margin: 0;
    font-family: arial;
    color: rgb(255, 255, 255);
  }

  h3{

    padding: 15px;
    margin: 0;
    font-family: arial;

  }


  body {
    margin: 100;
    padding: 20;
    font-family: Helvetica;
  }

  label {
    color: red; 
  }
  
  .left {
      float: left;
      width: 500px;
  }

  .add-side-effect {
    margin-left: 10px;
    margin-right: 10px;
    background-color:rgb(81, 81, 227);
    color: white;
  }

  .edit-patient-button {
    margin-right: 10px;
    background-color: yellowgreen;
    color: white;
  }

  .delete-patient-button {
    background-color: red;
    color: white;
  }

#patients {
  border-collapse: 1px solid black;
  width: 100%;
  margin-left: 10px;
} 

