  h2 {
    padding: 15px;
    margin: 15;
    font-family: arial;
    color: rgb(255, 255, 255);
  }

  h3{

    padding: 15px;
    margin: 0;
    font-family: arial;

  }


  body {
    margin: 100;
    padding: 20;
    font-family: Helvetica;
  }

  label {
    color: red; 
  }
  
  .left {
      float: left;
      width: 500px;
  }

  .add-side-effect-button {
    margin-left: 10px;
    margin-right: 10px;
    background-color:rgb(81, 81, 227);
    color: white;
  }

  .edit-patient-button {
    margin-right: 10px;
    background-color: yellowgreen;
    color: white;
  }

  .delete-patient-button {
    background-color: red;
    color: white;
  }

#patients {
  border-collapse: 1px solid black;
  width: 100%;
  margin-left: 10px;
} 

#patient-form {
  text-align: center;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container .cancel {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .side-effect-button {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.show-side-effect-button {
  background-color: rgb(167, 114, 23);
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#sideeffects {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 4px solid black;
  padding: 15px 50px;
  border-collapse: collapse
}

#side-effect-edit {
  margin-left: 10px;

}
